<plugin id="com.ofe.legicplugin" version="1.0.9"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">
		
    <name>LEGIC Plugin</name>
    <description>LEGIC Mobile SDK Cordova plugin for OutSystems</description>
    <license>MIT</license>

    <!-- JavaScript interface -->
    <js-module src="www/legic.js" name="Legic">
        <clobbers target="Legic"/>
    </js-module>

    <!-- ANDROID -->
    <platform name="android">
        <!-- Plugin Java class -->
        <source-file src="src/android/com/ofe/legic/LegicPlugin.java"
                     target-dir="com/ofe/legic"/>
        
        <!-- AAR SDK -->
        <framework src="src/android/libs/legicmobilesdk-release.aar"
                   custom="true" type="aar"/>

        <!-- Register plugin in config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LegicPlugin">
                <param name="android-package" value="com.ofe.legic.LegicPlugin"/>
            </feature>
        </config-file>
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LegicPlugin">
                <param name="ios-package" value="LegicPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/LegicPlugin.h" />
        <source-file src="src/ios/LegicPlugin.m" />
    </platform>

</plugin>
