<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.ofe.legicplugin" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>LEGIC Plugin</name>
    <description>LEGIC Connect SDK Cordova plugin for OutSystems</description>
    <license>MIT</license>

    <js-module src="www/legic.js" name="Legic">
        <clobbers target="Legic"/>
    </js-module>

    <platform name="android">
        <source-file src="src/android/com/ofe/legic/LegicPlugin.java"
                     target-dir="src/com/ofe/legic"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LegicPlugin">
                <param name="android-package" value="com.ofe.legic.LegicPlugin"/>
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <source-file src="src/ios/LegicPlugin.swift"/>
        <framework src="src/ios/LegicMobileSdk.xcframework" custom="true"/>
        <config-file target="config.xml" parent="/*">
            <feature name="LegicPlugin">
                <param name="ios-package" value="LegicPlugin"/>
            </feature>
        </config-file>
    </platform>

</plugin>
